<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="col q-ma-md q-pa-md entrada">
          <div class="col q-mb-md">
            Informações
          </div>
          <q-input style="border-radius: 0 25px" color="cyan" inverted v-model="Servico" type="text" float-label="Digite o serviço desejado" placeholder="Ex.: Corte de cabelo"/>
          <q-input style="border-radius: 0 25px " color="cyan" inverted v-model="Adicional" type="textarea" float-label="Informações adicionais"/>
          <div class="row q-mt-md">
            <div class="col-auto" v-for="(horario, index) in disponiveis" :key="index">
              <q-radio class="q-ma-xs" v-model="Horarios" v-if="horario.available" :label="horario.horario" :val="horario.horario"></q-radio>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="col entrada q-ma-md q-pa-md">
          Valores: {{Horarios}} - {{Servico}} - <p>{{Adicional}}</p>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
    body{
      background: #52e2d9;
    }
    .entrada{
      background: #128fe2;
      border-radius: 0 25px;
      color: white;
    }
</style>
<script>
import horarios from '../statics/data/horarios.json'

export default {
  name: 'Agendar',
  data () {
    return {
      disponiveis: horarios,
      Horarios: '',
      Servico: '',
      Adicional: ''
    }
  }
}
</script>
