<template>
    <div class="container fullscreen fundo">
        <div class="row justify-center">
            <div class="col-8 fixed-center">
                <div class="col flex flex-center q-mb-xl">
                    Digite seu email para recuperar a senha:
                </div>
                <q-field class="campo">
                    <q-input color="white" autofocus hide-underline type="email" float-label="Email"/>
                </q-field>
                <div class="col flex flex-center links">
                    <router-link to='/home'>Cadastrar</router-link>
                </div>
                <div class="col flex flex-center links">
                    <router-link to='/login'>Cancelar</router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>
    .fundo{
        background: #68d5d0
    }
    .campo{
        background: #8cebe5;
        padding: 0 10px 10px 10px;
        margin: 0 0 10px 0;
        border-radius: 5px;
    }
    .links a{
        color: #53b6b1;
    }
</style>
<script>
export default {
  name: 'ForgotPassword'
}
</script>
