<template>
  <div class="container fullscreen fundo">
    <div class="row">
      <div class="col-12 flex flex-center q-mt-xl">
        Qual serviço deseja hoje?
      </div>
      <div class="col-12 servicos q-mt-md">
        <div class="row">
          <div class="col flex justify-around">
            <div class="circulo q-mt-xl">
              <div class="conteudo">
                <img src="/assets/icons/shop.png" alt="">
                domicílio
              </div>
            </div>
            <div class="circulo q-mt-sm">
              <div class="conteudo">
                <img src="/assets/icons/salon.png" alt="">
                cabelo
              </div>
            </div>
            <div class="circulo q-mt-xl">
              <div class="conteudo">
                <img src="/assets/icons/moustache.png" alt="">
                barba
              </div>
            </div>
            <div class="circulo">
              <div class="conteudo">
                <img src="/assets/icons/nail.png" alt="">
                unhas
              </div>
            </div>
            <div class="circulo q-mt-xl">
              <div class="conteudo">
                <img src="/assets/icons/brush.png" alt="">
                maquiagem
              </div>
            </div>
            <div class="circulo q-mt-md">
              <div class="conteudo">
                <img src="/assets/icons/cream.png" alt="">
                pele
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row q-mt-xl">
      <div class="col separador q-ml-md q-mr-md">
        <div class="row items-center">
          <div class="col linha"></div>
          <div class="col-auto q-ml-md q-mr-md">
            serviços mais votados
          </div>
          <div class="col linha"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <horarios/>
      </div>
    </div>
    <div class="row">
      <div class="col fixed-bottom">
        <div class="col linha-chao"></div>
        <q-btn flat class="botao">
          <img src="/assets/icons/home.png" alt="">
        </q-btn>
        <q-btn flat class="botao">
          <img src="/assets/icons/magnifying-glass.png" alt="">
        </q-btn>
        <q-btn flat class="botao">
          <img src="/assets/icons/calendar.png" alt="">
        </q-btn>
        <q-btn flat class="botao">
          <img src="/assets/icons/avatar.png" alt="">
        </q-btn>
      </div>
    </div>
  </div>
</template>
<style scoped>
  .fundo{
    background: #68d5d0
  }
  .servicos{
    background: #8cebe5;
  }
  .botao{
    background: #8cebe5;
    width: 25%;
    padding: 8px 16px;
  }
  .separador{
    font-size: 12px;
  }
  .linha{
    background: #000;
    height: 1px;
  }
  .linha-chao{
    background: #fff;
    height: 2px;
  }
  .circulo{
    border: 1px solid black;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: inline-block;
  }
  .conteudo{
    font-size: 10px;
    text-align: center;
  }
  .conteudo img{
    margin: 5px 0 0 10px;
  }
</style>
<script>
import Horarios from './Horarios.vue'

export default {
  name: 'Home',
  components: {
    Horarios
  }
}
</script>
