<template>
  <div class="container">
    <div class="row">
      <q-scroll-area class="deslize">
        <div class="row items-center">
          <div class="col-12 flex flex-center" v-for="(item, index) in dados" :key="index">
            <div class="row info">
              <div class="col-12 verdadeiro q-pa-md q-mt-md">
                Nome: {{item.name}}
                <br>
                Gênero: {{item.gender}}
                <br>
                Idade: {{item.age}}
                <br>
                Email: {{item.email}}
                <br>
                Número: {{item.phone}}
                <br>
                Horários disponíveis:
                <div style="color:white" class="col q-mt-md">
                  <div class="col flex flex-center horarios-scroll">
                    <div class="col">
                      <span v-for="(item, index) in horarios" :key="index">
                        <q-btn class="q-mr-xs" color="purple" rounded v-if="item.available" v-on:click="botaoClick(item.horario)">{{item.horario}}</q-btn>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </q-scroll-area>
    </div>
  </div>
</template>
<style>
    .deck{
        background: #8cebe5;
    }
    .falso{
      background: #f09390;
      border-radius: 20px;
    }
    .verdadeiro{
      background: #0498f7;
      border-radius: 20px;
    }
    .deslize{
      width: 100%;
      height: 500px;
    }
    .info{
      width: 350px;
    }
    .indisponivel{
      color: grey
    }
    .horarios-scroll{
      width: auto;
      height: auto;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
    }
</style>
<script>
import json from '../statics/data/dados.json'
import horarios from '../statics/data/horarios.json'

export default {
  name: 'Horarios',
  data () {
    return {
      dados: json,
      horarios: horarios,
      valor: ''
    }
  },
  methods: {
    botaoClick: function (value) {
      this.valor = value
    }
  }
}
</script>
