<template>
    <div class="container">
        <q-carousel quick-nav class="absolute-full introducao">
            <q-carousel-slide class="container">
                <div class="row">
                    <div class="col circulo">
                        <div class="row q-mt-xl">
                            <div class="col">
                                <div class="row titulo">
                                    <p class="col-12 flex flex-center">Bem vindo ao</p>
                                    <br>
                                    <p class="col-12 flex flex-center subtitulo">Trato.VIP</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-center">
                    <div class="col-10 flex flex-center q-mt-xl conteudo">
                        Teste de conteúdo fora do círculo
                    </div>
                </div>
            </q-carousel-slide>
            <q-carousel-slide class=" ">
                slide 2
            </q-carousel-slide>
            <q-carousel-slide class=" ">
                slide 3
            </q-carousel-slide>
        </q-carousel>
        <div class="justify-center row fixed-bottom">
            <q-btn class="col-10 q-ma-xl" outline size="xl" @click="goToLogin()">
                Começar!
            </q-btn>
        </div>
    </div>
</template>

<style scoped>
    .introducao{
        background: #68d5d0
    }
    .circulo{
        margin: 50px 0 0 0;
        border-radius: 50%;
        height: 375px;
        width: 375px;
        background-color: white;
        color: #000;
    }
    .titulo{
        font-size: 40px;
        color: #44716c;
    }
    .subtitulo{
        font-family: fantasy;
        margin: -20px 0 0 0;
        font-size: 50px;
        color: darkslategray
    }
    .conteudo{
        font-size: 30px;
        color: #fff;
    }
</style>

<script>
export default {
  name: 'IntroSlider',
  methods: {
    goToLogin () {
      this.$router.push({name: 'login'})
    }
  }
}
</script>
