<template>
  <div class="container fullscreen introducao">
    <div class="containter q-mt-xl">
      <div class="row flex justify-center">
        <div class="col-2 titulo">
          Trato.
        </div>
      </div>
      <div class="row flex justify-center">
        <div class="col-1 titulo" style="margin: -15px 0 0 0">
          VIP
        </div>
      </div>
    </div>
    <div class="row justify-center items-center">
      <div class="col-8 fixed-center">
        <q-field class="campo">
          <q-input color="white" autofocus hide-underline type="email" float-label="E-mail"/>
        </q-field>
        <q-field class="campo">
          <q-input color="white" hide-underline type="password" float-label="Senha"/>
        </q-field>
        <div class="row links">
          <div class="col-12 flex flex-center">
            <router-link to="/home">Login</router-link>
          </div>
          <div class="col-12 flex flex-center">
            <router-link to="/forgot_pass">Esqueci minha senha</router-link>
          </div>
          <div class="col-12 flex flex-center">
            <span>Não possui uma conta?</span>
            <router-link to="/sign_in" style="margin: 0 0 0 5px">Cadastre-se!</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
  .introducao{
    background: #68d5d0
  }
  .campo{
    background: #8cebe5;
    padding: 0 10px 10px 10px;
    margin: 0 0 10px 0;
    border-radius: 5px;
  }
  .titulo{
    font-size: 40px;
    font-family: fantasy;
    color: #fff;
  }
  .links{
    color: #53b6b1;
  }
  .links a{
    color: #53b6b1;
  }
</style>
<script>
export default {
  name: 'Login'
}
</script>
