<template>
    <div class="container fullscreen fundo">
      <div class="row justify-center">
        <div class="col-8 fixed-center">
          <div class="col flex flex-center">
            Cadastre-se com:
          </div>
            <div class="col-10 flex flex-center" style="margin: 10px 0 50px 0">
              <q-btn outline class="botao"><img src="/assets/social-media.png" alt=""></q-btn>
              <q-btn outline class="botao"><img src="/assets/social-media.png" alt=""></q-btn>
            </div>
          <q-field class="campo">
            <q-input color="white" autofocus hide-underline type="name" float-label="Nome"/>
          </q-field>
          <q-field class="campo">
            <q-input color="white" hide-underline type="text" float-label="E-mail"/>
          </q-field>
          <q-field class="campo">
            <q-input color="white" hide-underline type="number" float-label="Idade"/>
          </q-field>
          <q-field class="campo">
            <q-input color="white" hide-underline type="tel" float-label="Telefone"/>
          </q-field>
          <q-field class="campo">
            <q-input color="white" hide-underline type="password" float-label="Senha"/>
          </q-field>
          <q-field class="campo">
            <q-input color="white" hide-underline type="password" float-label="Confirmar senha"/>
          </q-field>
          <div class="col flex flex-center links">
            <router-link to='/home'>Cadastrar</router-link>
          </div>
        </div>
      </div>
    </div>
</template>

<style scoped>
  .fundo{
    background: #68d5d0
  }.campo{
    background: #8cebe5;
    padding: 0 10px 10px 10px;
    margin: 0 0 10px 0;
    border-radius: 5px;
  }
  img{
    width: 32px;
    height: 32px;
  }
  .botao{
    margin: 10px 20px;
  }
  .links a{
    color: #53b6b1;
  }
</style>

<script>
export default {
  name: 'SignIn'
}
</script>
